<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет Product -->
{% block title %}
New
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1>{{ new.title|censor }}                  <!-- Кастомный фильтр -->
    {{ new.created|date:"d.m.Y" }}
</h1>
<h2>{{ new.text|censor }}</h2>              <!-- Кастомный фильтр -->
{% endblock content %}
