<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

<!-- Название у нас будет news -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
<hr>
    <h1>Все статьи: {{ news|length }}</h1>

        <form action="search/" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>

    <hr>

    {% if news %}
        {% for new in news %}
            <div class="alert alert-dark">

                {% if perms.News_app.change_post %}
                <a href="{% url 'post_update' new.pk %}">Изменить статью</a>
                {% endif %}
                {% if perms.News_app.delete_post %}
                <a href="{% url 'post_delete' new.pk %}">Удалить статью</a>
                {% endif %}

                <h2>
                    {{ new.title|censor }}                             <!-- Кастомный фильтр -->
                    {{ new.created|date:"d.m.Y" }}
                </h2>
                <h3>{{ new.text|truncatechars:30|censor }}</h3>        <!-- Кастомный фильтр -->
                <h4>{{ new.get_category_type_display }}</h4>
            </div>

        {% endfor %}
    {% else %}
        <h2>Статей нет!</h2>
   {% endif %}

<!--    {% if perms.News_app.add_post %}-->
    <a href="{% url 'post_create' %}">Добавить статью</a>
<!--    {% endif %}-->

<hr>

{% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
