<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ flatpage.title }}</title>
    </head>
    <body>
        <h2><strong>{{ flatpage.title }}</strong></h2>
           <hr>
            <p> Данные этой страницы запрещены к просмотру незарегистрированным пользователям. </p>
            <p style="text-align: center;"><strong>!!!ВНИМАНИЕ СЕКРЕТНЫЕ МАТЕРИАЛЫ!!!</strong></p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>
            <h1 style="text-align: center;"><span style="color: #ff0000; background-color: #800080;">не листай вниз!</span></h1>
            <h1 style="text-align: center;"><span style="text-decoration: underline;"><strong>подумай...</strong></span></h1>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: left;"><strong><img
                    src="https://chudo-prirody.com/uploads/posts/2021-08/1628793071_77-p-foto-memnogo-kota-81.jpg"
                    alt="" width="565" height="753" /></strong></p>
    </body>
</html>
